Host vr
    HostName vr.fri.uni-lj.si

Host gitlab
    HostName gitlab.lem.im
	Port 2222

Host modrina
    HostName 10.10.10.1
	User root

Host rombina
    HostName 10.10.10.2
	User root

Host belina
    HostName 10.10.10.3
	User root

Host crnina
    HostName 10.10.10.4
	User root

Host student-lem
    HostName student-lem.fri.uni-lj.si

Host lem-grader
    HostName lem-grader.fri.uni-lj.si

Host atb
    HostName atb.fri.uni-lj.si

Host cloud
    HostName cloud.lem.im

Host window
	HostName 192.168.34.85

Host jelenc
    HostName jelenc.pw

Host kvm97
    HostName 192.168.34.97

Host kvm96
    HostName 192.168.34.96

Host kvm95
    HostName 192.168.34.95

Host kvm94
    HostName 192.168.34.94

Host grafana
    HostName 10.10.10.199
    user dietpi

Host homeassistant
    HostName homeassistant.lan
    user root
