Host vr
    HostName vr.fri.uni-lj.si

Host gitlab
    HostName gitlab.lem.im
	Port 2222

Host modrina
    HostName 10.10.10.1
	User root

Host student-lem
    HostName student-lem.fri.uni-lj.si

Host lem-grader
    HostName lem-grader.fri.uni-lj.si

Host atb
    HostName atb.fri.uni-lj.si

Host cloud
    HostName cloud.lem.im

Host window
	HostName 192.168.34.85

Host jelenc
    HostName jelenc.pw
